/*
 * Shortcode: Shop Sidebar
 * -----------------------------------------------
*/
.shop_sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 90px;
  background: var(--color-white);
  padding: 30px;
  box-shadow: 0px 7px 10px rgba(196, 105, 107, 0.06);
}

.shop_sidebar .widget {
  margin-top: 0px;
  margin-bottom: 45px;
  background: transparent;
  padding: 0px 0px;
  box-shadow: none;
}

.shop_sidebar .widget:last-child {
  margin-bottom: 0px;
}

.shop_sidebar .widget ul {
  margin: 0;
  padding: 0;
}

.shop_sidebar .widget ul li {
  list-style-type: none;
}

.shop_sidebar .widget label {
  font-size: 14px;
  margin-bottom: 0px;
}

.shop_sidebar .select2-container {
  width: 100% !important;
}

.shop_sidebar .select2-container .select2-selection--single {
  height: 56px;
  line-height: 50px;
  border: 1px solid #ededed;
  padding: 5px 30px;
}

.shop_sidebar .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 15px;
  color: #A0A4B4;
  line-height: 44px;
  padding: 0;
}

.shop_sidebar .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 56px;
  position: absolute;
  top: 0px;
  right: 15px;
  width: 20px;
}

.shop_sidebar .select2-dropdown {
  padding: 15px;
}

.shop_sidebar .select2-search--dropdown {
  padding: 0px;
  margin-bottom: 5px;
}

.shop_sidebar .select2-results__option {
  padding: 3px 10px;
  transition: all 0.5s ease-in-out;
}

.shop_sidebar .select2-container--default .select2-results__option--selected,
.shop_sidebar .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--color-one);
  color: var(--color-two);
  transition: all 0.5s ease-in-out;
}

/* Sidebar Category  */
.shop_sidebar .widget_categories .category_item_inner {
  position: relative;
  min-height: 24px;
  padding-left: 0;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  flex-direction: unset;
  justify-content: space-between;
}

.shop_sidebar .widget_categories ul li {
  display: block;
  margin-bottom: 4px;
  border-bottom: none;
  padding: 5px 0px;
}

.shop_sidebar .widget_categories ul li ul {
  padding-left: 15px;
  padding-top: 5px;
}

.shop_sidebar .widget_categories ul li ul li {
  position: relative;
  padding-left: 10px;
  text-transform: capitalize;
}
.shop_sidebar .widget_categories ul li ul li:last-child {
  margin-bottom: 0px;
}

.shop_sidebar .widget_categories ul li ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 6px;
  height: 1px;
  background: var(--color-two);
}

.shop_sidebar .widget_categories ul li .cat_toggler a {
  font-size: 14px;
}

.shop_sidebar .widget_categories ul li .cat_toggler i {
  display: block;
  transition: all 0.3s ease-in-out;
}

.shop_sidebar .widget_categories ul li .cat_toggler [aria-expanded=true] i {
  transform: rotate(90deg);
  color: var(--color-one);
}

.shop_sidebar .sidebar_price_filter .range-value {
  margin-top: 10px;
  font-size: 14px;
  color: var(--color-two);
}

.shop_sidebar .sidebar_price_filter .range-value span {
  margin-right: 10px;
}

.shop_sidebar .sidebar_price_filter .range-value input[type="text"] {
  background-color: transparent;
  color: var(--color-two);
  padding: 0px;
  width: 80px;
  height: auto;
  border-width: 0px;
  text-align: right;
  font-size: 14px;
}

.shop_sidebar .sidebar_price_filter .range-bar {
  border: none;
  background: var(--color-two);
  height: 2px;
  width: 100%;
}

.shop_sidebar .sidebar_price_filter .range-bar .ui-slider-range {
  background: var(--color-white);
}

.shop_sidebar .sidebar_price_filter .range-bar .ui-slider-handle {
  width: 12px;
  height: 12px;
  border-width: 0px;
  cursor: pointer;
  margin-top: 0px;
  margin-left: -5px;
}

.shop_sidebar .sidebar_price_filter .range-bar .ui-slider-handle {
  background: var(--color-white);
  border-radius: 100%;
}

.shop_sidebar .form-check {
  position: relative;
  min-height: auto;
  padding-left: 0;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.shop_sidebar .form-check label {
  color: var(--color-two);
  line-height: 24px;
  font-weight: 400;
}

.shop_sidebar .form-check .form-check-input {
  float: none;
  margin: 0px 7px 0px 0px;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-three);
  background-color: transparent;
  border-radius: 3px;
  overflow: hidden;
}

.shop_sidebar .form-check-input:checked {
  border-color: var(--color-white);
  background-color: var(--color-two);
  box-shadow: none;
}

.shop_sidebar .form-check-input:focus {
  outline: none;
  box-shadow: none;
}

.shop_sidebar .content_count {
  background: var(--color-nine);
  display: inline-block;
  font-size: 10px;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 20px;
  color: #212121;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/*-- Popular Products --*/
.sidebar_popular_products ul li {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-nine);
}
.sidebar_popular_products ul li:last-child {
  border-bottom: 0px;
  margin-bottom: 0px;
}

.sidebar_popular_products ul li .popular_product_image {
  flex-shrink: 0;
  margin-right: 15px;
  max-width: 85px;
  background: var(--color-two);
}

.sidebar_popular_products ul li .popular_product_content .product_title {
  margin: 0px 0px 7px 0px;
}

.sidebar_popular_products ul li .popular_product_content .product_title a {
  color: var(--color-two);
}
.sidebar_popular_products ul li .popular_product_content .product_title a:hover {
  color: var(--color-one);
}
.sidebar_popular_products ul li .popular_product_content .product_price {
  color: var(--color-two);
}
/*-- ============================================== --*/
/*-- ================ Main Content ================ --*/
/*-- ============================================== --*/
/*-- Filtering Method --*/
.shop_filtering_method {
  justify-content: space-between;
  margin-bottom: 30px;
}

.shop_filtering_method .view_type_wrapper {
  min-width: 300px;
}

.shop_filtering_method .view_type_wrapper .view_type a {
  font-size: 16px;
  color: var(--color-two);;
  display: inline-block;
  text-align: center;
}

.shop_filtering_method .view_type_wrapper .view_type a.active {
  color: var(--color-one);
}

.shop_filtering_method .view_type_wrapper .view_type li:not(:last-child) {
  margin-right: 8px;
}

.shop_filtering_method .view_type_wrapper .showing_results {
  font-size: 14px;
  color: var(--color-two);
  margin-left: 20px;
}

.shop_filtering_method .sorting_select {
  position: relative;
  width: 260px;
}

.shop_filtering_method .select2-container .select2-selection--single {
  width: 260px;
  height: 48px;
  line-height: normal;
  background-color: transparent;
  border: 1px solid var(--color-nine);
  border-radius: 0px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop_filtering_method .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 15px;
  color: var(--color-two);
  line-height: 44px;
  padding: 0;
}

.shop_filtering_method .select2-container--default .select2-selection--single .select2-selection__arrow {
  position: relative;
  top: auto;
  right: 15px;
  width: auto;
  height: auto;
}

.shop_filtering_method .select2-container--default .select2-selection--single .select2-selection__arrow b {
  position: relative;
  top: auto;
  left: auto;
  width: 0;
  height: 5px;
  display: inline-block;
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 0px 0px 0 0px;
  margin-left: 0;
  margin-top: 0;
}

.shop_filtering_method .select2-container--default .select2-selection--single .select2-selection__arrow b::before {
  content: "\F282";
  font-family: 'bootstrap-icons';
  font-size: 10px;
}

/*------ Product Column ------*/
.product_col_1,
.product_col_2,
.product_col_3,
.product_col_4 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.product_col_1 .product_item,
.product_col_2 .product_item,
.product_col_3 .product_item,
.product_col_4 .product_item {
  position: relative;
  width: 100%;
  min-height: 1px;
  -webkit-box-flex: 0;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.product_col_1 .product_item {
  flex: 0 0 100%;
  max-width: 100%;
}

.product_col_2 .product_item {
  flex: 0 0 50%;
  max-width: 50%;
}

.product_col_3 .product_item {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.product_col_4 .product_item {
  flex: 0 0 25%;
  max-width: 25%;
}

@media screen and (max-width: 991px) {
  .product_col_3 .product_item, .product_col_4 .product_item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .product_col_2 .product_item, .product_col_3 .product_item, .product_col_4 .product_item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*----- Product Grid Item ------*/
.product_item {
  position: relative;
  overflow: hidden;
}

.product_item .product_thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 30px;
}

.product_item .product_thumb .product_imagebox {
  position: relative;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.product_item .product_thumb .product_imagebox img {
  width: 100%;
}

.product_item .product_thumb .product_imagebox .primary_img {
  transition: all 0.5s ease-in-out;
}

.product_item .product_thumb .product_imagebox [class*="badge"] {
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 0;
  padding: 0px 0px;
  width: 50px;
  line-height: 24px;
  z-index: 1;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0px;
}

.product_item .product_thumb .product_imagebox .badge-new {
  background-color: var(--color-white);
  color: var(--color-two);
}

.product_item .product_thumb .product_imagebox .badge-sale {
  background-color: var(--color-three);
  color: var(--color-white);
}

.product_item .product_thumb .product_item_inner {
  transition: all 0.5s ease-in-out;
}

.product_item .product_thumb .product_item_inner .label_text {
  padding: 20px 0px 0px 0px;
  transition: all 0.5s ease-in-out;
}

.product_item .product_thumb .product_item_inner .label_text .product_item_name {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0px;
  color: var(--color-two);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_item .product_thumb .product_item_inner .product_item_price {  
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 500;
  color: var(--color-two);
  padding-bottom: 0px;
}

.product_item .product_thumb .product_item_inner .product_item_price del {
  color: var(--color-three);
  margin-right: 5px;
}

.product_item .product_thumb .product_item_inner p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.product_item .product_thumb .product_item_inner .product_category {
  font-size: 14px;
  color: var(--color-three);
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.product_item .product_thumb .product_item_inner .product_category a {
  color: var(--color-two);
}

.product_item .product_thumb .product_item_inner .product_category a:hover {
  color: var(--color-one);
}

.product_item .product_thumb .product_item_inner .rating ul {
  display: block;
  padding: 0px 0px;
  margin: 0px 0px;
  line-height: 16px;
}

.product_item .product_thumb .product_item_inner .rating ul li {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-one);
  margin: 0px;
}

.product_item .product_thumb .cart_button {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -100%;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.product_item:hover .product_thumb .cart_button {
  top: 50%;
}


/*------ Product List Item -------*/
.product_view_list .grid-item:not(:last-child) {
  margin-bottom: 30px;
}

.product_view_list .product_item {
  position: relative;
  overflow: hidden;
  background: #212121;
  padding: 30px;
  margin-bottom: 30px;
  display: none;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.product_view_list .product_item .product_thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
}

.product_view_list .product_item .product_thumb .product_imagebox {
  position: relative;
  background: #000000;
  text-align: center;
  height: 325px;
  width: 270px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.product_view_list .product_item .product_thumb .product_imagebox .primary_img {
  transition: all 0.5s ease-in-out;
}

.product_view_list .product_item .product_thumb .product_imagebox .secondary_img {
  position: absolute;
  left: 50%;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
}

.product_view_list .product_item .product_thumb .product_imagebox [class*="badge"] {
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 0;
  padding: 0px 0px;
  width: 50px;
  line-height: 24px;
  z-index: 1;
  
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0px;
}

.product_view_list .product_item .product_thumb .product_imagebox .badge-new {
  background-color: var(--color-two);;
  color: #000000;
}

.product_view_list .product_item .product_thumb .product_imagebox .badge-sale {
  background-color: #545454;
  color: var(--color-two);;
}

.product_view_list .product_item .product_thumb .product_item_inner {
  transition: all 0.5s ease-in-out;
  flex: 1;
}

.product_view_list .product_item .product_thumb .product_item_inner .label_text {
  transition: all 0.5s ease-in-out;
}

.product_view_list .product_item .product_thumb .product_item_inner .label_text .product_item_name {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0px;
  color: var(--color-two);;
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

.product_view_list .product_item .product_thumb .product_item_inner .label_text .product_item_name a {
  color: var(--color-two);;
}

.product_view_list .product_item .product_thumb .product_item_inner .product_item_price {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-two);
  padding-bottom: 0px;
  margin-left: 15px;
}

.product_view_list .product_item .product_thumb .product_item_inner .product_item_price del {
  color: #54595f;
  margin-right: 5px;
}

.product_view_list .product_item .product_thumb .product_item_inner p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.product_view_list .product_item .product_thumb .product_item_inner .product_category {
  font-size: 14px;
  color: var(--color-two);
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.product_view_list .product_item .product_thumb .product_item_inner .product_category a {
  color: var(--color-two);
}

.product_view_list .product_item .product_thumb .product_item_inner .product_category a:hover {
  color: var(--color-two);;
}

.product_view_list .product_item .product_thumb .product_item_inner .rating {
  margin-bottom: 30px;
}

.product_view_list .product_item .product_thumb .product_item_inner .rating ul {
  display: block;
  padding: 0px 0px;
  margin: 0px 0px;
  line-height: 16px;
}

.product_view_list .product_item .product_thumb .product_item_inner .rating ul li {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  color: var(--color-one);
  margin: 0px;
}

.product_view_list .product_item .cart_button {
  position: relative;
  z-index: 1;
}

/*----- Single Product -----*/
.product_left .product_zoom {
  display: flex;
  align-items: flex-start;
}

.product_left .product_zoom .product_zoom_button_group {
  padding: 0px;
  margin: 0px;
  list-style: none;
  max-height: 543px;
  overflow-y: scroll;
  display: inline-block;
  padding-right: 23px;
}

.product_left .product_zoom .product_zoom_button_group::-webkit-scrollbar {
  width: 0px;
  height: 4px;
}

.product_left .product_zoom .product_zoom_button_group::-webkit-scrollbar-track {
  background: #212121;
}

.product_left .product_zoom .product_zoom_button_group::-webkit-scrollbar-thumb {
  background: var(--color-one);
}

.product_left .product_zoom .product_zoom_button_group li {
  text-align: left;
  margin: 20px 0px;
}

.product_left .product_zoom .product_zoom_button_group li:first-child {
  margin-top: 0px;
}

.product_left .product_zoom .product_zoom_button_group li:last-child {
  margin-bottom: 0px;
}

.product_left .product_zoom .product_zoom_button_group li a {
  position: relative;
  display: block;
  cursor: pointer;
  width: 145px;
  max-width: 100%;
  height: 175px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.product_left .product_zoom .product_zoom_button_group li a img {
  width: 100%;
}

.product_left .product_zoom .product_zoom_button_group li a.selected:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 33, 0.5);
}

.product_left .product_zoom .product_zoom_container {
  flex: 1;
  max-height: 560px;
  overflow: hidden;
}

.product_left .product_zoom .product_zoom_container .product_zoom_info {
  position: relative;
  display: none;
}

.product_left .product_zoom .product_zoom_container .product_zoom_info img {
  width: 100%;
}

.product_right .product_info .product_title h2, .product_right .product_info .product_title .h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: var(--color-two);;
}

.product_right .product_info .product_rating {
  font-size: 14px;
  font-weight: 400;
}

.product_right .product_info .product_rating i {
  color: var(--color-one);
}

.product_right .product_info .product_rating .product_rating_details {
  display: inline-block;
  margin-left: 10px;
  color: var(--color-two);
}

.product_right .product_description {
  font-size: 14px;
  line-height: 24px;
  color: #b2b2b2;
  margin-bottom: 20px;
}

.product_right .product_price {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: var(--color-two);;
  margin-top: 15px;
  margin-bottom: 25px;
}

.product_right .product_view_bottom {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.product_right .product_view_bottom .product_quantity {
  display: flex;
  align-items: center;
  flex: 1;
  margin-right: 20px;
}

.product_right .product_view_bottom .product_quantity .pproduct_quantity_label {
  
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--color-two);;
}

.product_right .product_view_bottom .product_quantity .product_quantity_inner {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-nine);
  margin-left: 20px;
  padding: 0px 20px;
}

.product_right .product_view_bottom .product_quantity .product_quantity_inner .product_quantity_subtract {
  color: var(--color-two);;
  cursor: pointer;
}

.product_right .product_view_bottom .product_quantity .product_quantity_inner .product_quantity_add {
  color: var(--color-two);;
  cursor: pointer;
}

.product_right .product_view_bottom .product_quantity .product_quantity_inner input {
  width: 80px;
  height: 42px;
  padding: 0;
  text-align: center;
  background-color: transparent;
  color: var(--color-two);;
  border: 0px solid #000;
  font-weight: 700;
}

.product_right .product_view_bottom .wish_button {
  margin-right: 15px;
}

.product_right .product_view_bottom .wish_button a,
.product_right .product_view_bottom .compare_button a {
  width: 44px;
  height: 44px;
  line-height: 44px;
  display: block;
  background: #F2F7F7;
  text-align: center;
  color: #212121;
}

.product_right .cart_button {
  margin-top: 20px;
}

.product_right .cart_button .button {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 25px;
  z-index: 1;
  color: var(--color-white);
  background-color: var(--color-eight);
}

.product_right .cart_button .button:before {
  background: var(--color-one);
}

.product_right .cart_button .button:after {
  background: #000000;
}

.product_right .product_view_bottom_credential {
  margin-top: 20px;
}

.product_right .product_view_bottom_credential ul {
  list-style: none;
}

.product_right .product_view_bottom_credential ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-two);
  padding: 3px 0px;
}

.product_right .product_view_bottom_credential ul li span {
  font-weight: 500;
  color: var(--color-two);;
  margin-right: 5px;
}

.product_right .product_view_bottom_credential ul li a {
  position: relative;
  line-height: 20px;
  display: inline-block;
  color: var(--color-two);
}

.product_right .product_view_bottom_credential ul li.tags {
  list-style-type: none;
  display: inline-block;
  overflow: hidden;
}

.product_right .product_view_bottom_credential ul li.tags a {
  position: relative;
  line-height: 20px;
  display: inline-block;
  color: var(--body-color);
  margin: 0px 5px;
}

.product_right .product_view_bottom_credential ul li.tags a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 0%;
  height: 1px;
  background: var(--color-one);
  transition: all 0.5s ease;
}

.product_right .product_view_bottom_credential ul li.tags a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 99%;
  height: 1px;
  background: var(--color-two);
  transition: all 0.5s ease;
}

.product_right .product_view_bottom_credential ul li.tags a:hover {
  color: var(--color-one);
}

.product_right .product_view_bottom_credential ul li.tags a:hover::before {
  width: 99%;
}

.product_right .product_view_bottom_credential ul li.tags a:hover::after {
  left: 101%;
  opacity: 0;
  visibility: hidden;
}

.product_right .product_social_share {
  margin-top: 20px;
}

.product_right .product_social_share ul {
  display: flex;
  flex-flow: row wrap;
  padding: 0px;
  margin-bottom: 0px;
  gap: 10px;
}

.product_right .product_social_share ul li {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-two);;
  list-style: none;
}

.product_right .product_social_share ul li a {
  position: relative;
  overflow: hidden;
  font-size: 14px;
  text-align: center;
  color: var(--color-two);;
  background: var(--color-four);
  display: block;
  outline: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
}

.product_right .product_social_share ul li a:hover {
  color: var(--color-one);
}

/*-- Product Details --*/
.product_details_section {
  position: relative;
  z-index: 1;
  padding: 20px 0px;
}

.product_details_tab .nav {
  gap: 60px;
  border-bottom: 1px solid var(--color-nine);
  padding-bottom: 15px;
}

.product_details_tab .nav li a {
    font-family: var(--font-family-heading);
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-two);;
}

.product_details_tab .nav li a.active {
  color: var(--color-one);
}

.product_details_tab .tab-content {
  padding-top: 30px;
}

.product_details_tab .tab-content p {
  line-height: 26px;
}

.product_details_tab .product_additional_info ul {
  list-style: none;
}

.product_details_tab .product_additional_info ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-two);
  padding: 3px 0px;
}

.product_details_tab .product_additional_info ul li span {
  font-weight: 500;
  color: var(--color-two);;
  margin-right: 5px;
}

.product_details_tab .product_additional_info ul li a {
  position: relative;
  line-height: 20px;
  display: inline-block;
  color: var(--color-two);
}

/*-------- Reviews ------------*/
.review_sec {
  margin-bottom: 60px;
}

.review_sec .review_title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 15px;
  color: var(--color-two);;
}

.review_sec .review_title a {
  color: var(--color-one);;
  font-weight: 600;
}

.review_sec ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0px;
}

.review_sec ul ul {
  padding-left: 90px;
}

.review_sec ul.review_area .reviewer_div {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
}

.review_sec ul.review_area .reviewer_div .reviewer {
  margin-right: 20px;
  min-width: 80px;
  max-width: 80px;
  max-height: 80px;
  border-radius: 100%;
  overflow: hidden;
}

.review_sec ul.review_area .reviewer_div .review_block .product_rating {
  color: var(--color-one);
  line-height: 16px;
  margin-bottom: 10px;
}

.review_sec ul.review_area .reviewer_div .review_block .reviewer_name {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
  color: var(--color-two);;
  text-transform: capitalize;
}

.review_sec ul.review_area .reviewer_div .review_block .reviewer_review {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-two);;
  margin-top: 5px;
  margin-bottom: 12px;
}

.review_sec ul.review_area .reviewer_div .review_block .review_date {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-two);;
  background-color: var(--color-four);
  padding: 4px 10px;
  display: inline-block;
  border-radius: 5px;
}

.review_sec ul.review_area .reviewer_div .review_block .reply a {
  
  font-size: 17px;
  font-weight: 400;
  color: var(--color-one);
}

.review_sec .reviews-pagination {
  margin-bottom: 0px;
  list-style-type: none;
  align-items: center;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0px;
}

.review_sec .reviews-pagination a, .review_sec .reviews-pagination span {
  
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: var(--color-four);
  color: var(--color-two);;
  border: 0px solid transparent;
  margin-right: 2px;
}

.review_sec .reviews-pagination a:hover, .review_sec .reviews-pagination a.current, .review_sec .reviews-pagination span:hover, .review_sec .reviews-pagination span.current {
  background: var(--color-one);
  color: var(--color-white);;
}

.review_form .review_form_heading_wrapper .review_form_title {
  position: relative;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: var(--color-two);;
  margin-bottom: 7px;
}

.review_form .review_form_heading_wrapper .review_form_sub_title {
  font-size: 14px;
  color: #6e7a7a;
  margin-bottom: 18px;
}

.review_form .review_form_heading_wrapper .give_rating {
  color: var(--color-two);
}

.review_form .review_form_heading_wrapper .reviewer_rating {
  color: var(--color-one);
}

.review_form select, .review_form input[type="text"], .review_form input[type="email"], .review_form input[type="url"], .review_form input[type="password"], .review_form input[type="search"], .review_form input[type="number"], .review_form input[type="tel"], .review_form input[type="range"], .review_form input[type="date"], .review_form input[type="month"], .review_form input[type="week"], .review_form input[type="time"], .review_form input[type="datetime"], .review_form input[type="datetime-local"], .review_form input[type="color"] {
  height: 60px;
}

.review_form .button {
  font-size: 16px;
}

.related_products {
  position: relative;
  z-index: 1;
}

.related_products .widget-title {
  color: var(--color-two);;
  text-transform: capitalize;
}

@media screen and (max-width: 991px) {
  .product_right {
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .product_right {
    padding-right: 0px;
  }
}

@media screen and (max-width: 500px) {
  .product_left .product_zoom {
    display: block;
  }
  .product_left .product_zoom .product_zoom_button_group {
    width: 100%;
    padding-right: 0px;
    overflow-x: scroll;
    display: flex;
    margin-bottom: 30px;
  }
  .product_left .product_zoom .product_zoom_button_group li {
    margin: 0px 5px;
  }
  .product_left .product_zoom .product_zoom_button_group li:first-child {
    margin-left: 0px;
  }
  .product_left .product_zoom .product_zoom_button_group li:last-child {
    margin-right: 0px;
  }
  .product_left .product_zoom .product_zoom_container {
    width: 100%;
  }
  .product_right .product_info .product_rating .product_rating_details {
    display: block;
    margin: 0px;
  }
  .product_right .product_info .product_rating .product_add_review {
    display: block;
    margin: 0px;
  }
  .product_right .product_view_bottom .product_quantity {
    margin-bottom: 20px;
  }
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #545454;
  height: 40px;
}

.select2-dropdown {
  background-color: var(--color-two);
  border-color: #545454;
}

.select2-results__option {
  padding: 5px 5px;
  font-size: 14px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #2e2e2e;
  color: var(--color-two);;
}

.select2-container--default .select2-results__option--selected {
  background-color: var(--color-one);
  color: var(--color-two);;
}

.cart_table {
  border-collapse: collapse;
  width: 100%;
  border: 0px;
  margin-bottom: 0px;
}

.cart_table td, .cart_table th {
  border-right: 0px;
  border-bottom: 1px solid var(--color-nine);
  text-align: left;
}

.cart_table .cart_header th {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--color-two);
  padding: 15px 0px;
}

.cart_table .cart_header th.cart_header_image {
  width: 20%;
}

.cart_table .cart_header th.cart_header_title {
  width: 20%;
}

.cart_table .cart_header th.cart_header_price {
  width: 15%;
}

.cart_table .cart_header th.cart_header_quantity {
  width: 25%;
}

.cart_table .cart_content td {
  font-size: 16px;
  line-height: 24px;
  padding: 15px 0px;
  color: var(--color-two);;
}

.cart_table .cart_content .cart_image img {
  max-width: 65px;
}

.cart_table .cart_content .cart_quantity .product_quantity_inner {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--color-nine);
  padding: 0px 20px;
  width: 146px;
}

.cart_table .cart_content .cart_quantity .product_quantity_inner .product_quantity_subtract {
  color: var(--color-two);;
  cursor: pointer;
}

.cart_table .cart_content .cart_quantity .product_quantity_inner .product_quantity_add {
  color: var(--color-two);;
  cursor: pointer;
}

.cart_table .cart_content .cart_quantity .product_quantity_inner input {
  width: 80px;
  height: 42px;
  padding: 0;
  text-align: center;
  background-color: transparent;
  color: var(--color-two);;
  border: 0px solid #000;
}

.cart_table .cart_content .cart_total {
  color: var(--color-one);
}

.cart_table .cart_content .cart_removal {
  text-align: right;
}

.cart_table .cart_content .cart_removal a {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 38px;
  text-align: center;
  border-radius: 100%;
  background: var(--color-nine);
}

.couponcart {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0px;
}

.couponcart .set_coupon {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.couponcart .form-group {
  margin-bottom: 0px;
  margin-right: 18px;
}

.couponcart .form-group input[type="text"] {
  border: 1px solid var(--color-nine);
  text-align: left;
  width: 250px;
  padding: 10px 20px;
  border-radius: 0;
}

.couponcart ::-webkit-input-placeholder {
  color: var(--color-two);
}

.couponcart ::-moz-placeholder {
  color: var(--color-two);
}

.couponcart :-ms-input-placeholder {
  color: var(--color-two);
}

.couponcart :-moz-placeholder {
  color: var(--color-two);
}

.couponcart :placeholder {
  color: var(--color-two);
}

.couponcart .button_group .button {
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 30px;
  min-width: auto;
}

.grand_total {
  margin-top: 60px;
  padding: 60px;
  border: 1px solid var(--color-nine);
}

.grand_total .widget-title {
  color: var(--color-two);;
  text-transform: capitalize;
}

.grand_total ul {
  margin: 0px;
  padding: 0px;
}

.grand_total ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-nine);
  color: var(--color-two);
}

.grand_total ul li span.text {
  min-width: 220px;
  color: var(--color-two);;
}

.grand_total ul li.totalvalue {
  color: var(--color-two);;
  font-weight: 600;
}

.grand_total .btn_group {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .cart_table {
    width: 100%;
    display: block;
    overflow-x: scroll;
  }
  .cart_table .cart_header th:not(:last-child),
  .cart_table .cart_content td:not(:last-child) {
    padding-right: 30px;
  }
  .cart_table::-webkit-scrollbar {
    height: 5px;
  }
  .cart_table::-webkit-scrollbar-track {
    background: #2e2e2e;
    border-radius: 5px;
  }
  .cart_table::-webkit-scrollbar-thumb {
    background: #545454;
    border-radius: 5px;
  }
  .grand_total {
    padding: 30px;
  }
  .grand_total .button_group .button {
    min-width: auto;
    padding: 12px 20px;
  }
  .couponcart {
    display: block;
  }
  .couponcart .form-group {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .couponcart .form-group input[type="text"] {
    width: 100%;
  }
  .couponcart .button_group {
    width: 100%;
  }
  .couponcart .button_group .button {
    width: 100%;
  }
  .couponcart .cartupdate {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #f2f7f7;
  }
}

/* Forms (shipping_form) */
.shipping_form {
  /* Coupon Code */
}

.shipping_form .widget-title {
  color: var(--color-two);;
  text-transform: capitalize;
}

.shipping_form .select2-container--default .select2-selection--single .select2-selection__arrow,
.shipping_form .select2-container .select2-selection--single,
.shipping_form .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 64px;
  line-height: 64px;
  right: 5px;
  border: none;
}

.shipping_form .select2-container--default .select2-selection--single .select2-selection__arrow b {
  position: relative;
  top: auto;
  left: auto;
  width: 0;
  height: 5px;
  display: inline-block;
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 0px 0px 0 0px;
  margin-left: 0;
  margin-top: 0;
}

.shipping_form .select2-container--default .select2-selection--single .select2-selection__arrow b::before {
  content: "\F282";
  font-family: 'bootstrap-icons';
  font-size: 10px;
}

.shipping_form .select2-container--default .select2-selection--single .select2-selection__rendered,
.shipping_form .select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0px;
  line-height: 64px;
}

.shipping_form .select2-container--default .select2-selection--multiple,
.shipping_form .select2-container--default .select2-selection--single {
  display: block;
  width: 100%;
  height: 64px;
  padding: 0px 40px;
  font-size: 14px;
  line-height: 1.5;
  background-color: #000000;
  background-clip: padding-box;
  border: 1px solid #000000;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  outline-offset: 0;
}

.shipping_form .select2-container--default .select2-selection--multiple:focus,
.shipping_form .select2-container--default .select2-selection--single:focus,
.shipping_form .select2-container--default.select2-container--focus .select2-selection--multiple,
.shipping_form .select2-container--default.select2-container--focus .select2-selection--single {
  border-color: var(--color-one);
  outline: none;
  outline-offset: 0px;
}

.shipping_form label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: capitalize;
  color: var(--color-two);;
  margin-top: 0px;
  margin-bottom: 10px;
}

.shipping_form .form-group {
  margin-top: 10px;
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
}

.shipping_form textarea.form-control {
  height: 90px;
}

.shipping_form .form-control:focus {
    background: var(--color-white);
    border: 1px solid var(--color-one);
    color: var(--color-two);
    outline: 0;
    box-shadow: none;
}

.shipping_form .have_coupon {
  background: var(--color-white);
  border-left: 7px solid var(--color-one);
  padding: 30px 15px;
  margin-bottom: 55px;
}

.shipping_form .have_coupon .form-group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0px 0px;
}

.shipping_form .have_coupon .form-group label {
  font-size: 20px;
  color: var(--color-two);;
  line-height: 26px;
  margin-right: 12px;
  margin-bottom: 0px;
}

.shipping_form .have_coupon .form-group input[type="text"] {
  width: 250px;
  height: 45px;
}

.shipping_form .have_coupon ::-webkit-input-placeholder {
  font-weight: 400;
  color: var(--color-two);
}

.shipping_form .have_coupon ::-moz-placeholder {
  font-weight: 400;
  color: var(--color-two);
}

.shipping_form .have_coupon :-ms-input-placeholder {
  font-weight: 400;
  color: var(--color-two);
}

.shipping_form .have_coupon :-moz-placeholder {
  font-weight: 400;
  color: var(--color-two);
}

.shipping_form .have_coupon :placeholder {
  font-weight: 400;
  color: var(--color-two);
}

.shipping_form .form-check-input {
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-nine);
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.shipping_form .checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 0px;
  color: var(--color-two);
  user-select: none;
}

.shipping_form .checkbox:not(:last-child) {
  margin-right: 15px;
}

.shipping_form .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 0;
}

.shipping_form .checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  border: 1px solid var(--color-nine);
}

.shipping_form .checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 1000%;
  background: var(--color-two);;
}

.shipping_form .checkbox:hover input ~ .checkmark {
  border: 1px solid var(--color-one);
}

.shipping_form .checkbox input:checked ~ .checkmark {
  border: 1px solid var(--color-one);
}

.shipping_form .checkbox input:checked ~ .checkmark:after {
  display: block;
}

.place_order {
  /* Customize Radio Button */
}

.place_order ul {
  margin: 0px;
  padding: 0px;
}

.place_order ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 14px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-nine);
  color: var(--color-two);
}

.place_order ul li:first-child {
  padding-top: 0px;
}

.place_order ul li .form-group {
  width: auto;
  margin: 0px;
}

.place_order ul li span.text {
  min-width: 220px;
  color: var(--color-two);;
}

.place_order ul li.totalvalue {
  color: var(--color-two);;
  font-weight: 600;
}

.place_order ul li.totalvalue span.text {
  margin-right: 10px;
}

.place_order label.radio_circle {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 0px;
  color: var(--color-two);
  user-select: none;
}

.place_order label.radio_circle:not(:last-child) {
  margin-right: 15px;
}

.place_order label.radio_circle input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 0;
}

.place_order label.radio_circle .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  border: 1px solid var(--color-nine);
}

.place_order label.radio_circle .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 1000%;
  background: var(--color-two);;
}

.place_order label.radio_circle:hover input ~ .checkmark {
  border: 1px solid var(--color-one);
}

.place_order label.radio_circle input:checked ~ .checkmark {
  border: 1px solid var(--color-one);
}

.place_order label.radio_circle input:checked ~ .checkmark:after {
  display: block;
}

.place_order .paymentmethod {
  margin-top: 40px;
}

.place_order .paymentmethod label.radio_circle {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-two);;
}

.place_order .paymentmethod label.radio_circle:not(:last-child) {
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.place_order .paymentmethod span.text {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-two);
  margin-top: 10px;
}

.place_order .btn_group {
  margin-top: 25px;
}