/*
 * Shortcode: sidebar
 * -----------------------------------------------
*/
.sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 30px;
}

.widget {
  margin-bottom: 50px;
}

.widget:last-child {
  margin-bottom: 0px;
}

.widget ul {
  margin: 0;
  padding: 0;
}

.widget ul li {
  list-style-type: none;
}

/*-- Search --*/
.sidebar_search {
  text-align: left;
}

.sidebar_search .search_form ::-webkit-input-placeholder {
  font-family: var(--font-family-heading);
  font-size: 16px;
  font-weight: 600;
  color: var(--color-six);
}

.sidebar_search .search_form ::-moz-placeholder {
  font-family: var(--font-family-heading);
  font-size: 16px;
  font-weight: 600;
  color: var(--color-six);
}

.sidebar_search .search_form :-ms-input-placeholder {
  font-family: var(--font-family-heading);
  font-size: 16px;
  font-weight: 600;
  color: var(--color-six);
}

.sidebar_search .search_form :-moz-placeholder {
  font-family: var(--font-family-heading);
  font-size: 16px;
  font-weight: 600;
  color: var(--color-six);
}

.sidebar_search .search_form :placeholder {
  font-family: var(--font-family-heading);
  font-size: 16px;
  font-weight: 600;
  color: var(--color-six);
}

/*-- Author --*/
.sidebar_author {
  position: relative;
  text-align: center;
}

.sidebar_author img {
  margin: 0 auto;
  display: block;
  margin-bottom: 0px;
}

.sidebar_author h5 {
  font-size: 18px;
  color: var(--color-two);
  margin-top: 20px;
  margin-bottom: 8px;
}

.sidebar_author h6 {
  font-family: var(--font-family-base);
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3px;
  color: var(--color-eight);
  text-transform: uppercase;
}

.sidebar_author .intro {
  position: relative;
  line-height: 27px;
  margin-top: 20px;
  margin-bottom: 6px;
}

/*-- Social --*/
.sidebar_social .share_list {
  column-gap: 25px;
}
.sidebar_social .share_list li a{
  font-size: 18px;
  color: var(--color-white)
}

/*-- Newsletter --*/
.sidebar_newsletter {
  text-align: center;
  margin-top: 40px;
}

.sidebar_newsletter .icon {
  font-size: 36px;
  color: var(--color-white);
  margin-bottom: 10px;
}

.sidebar_newsletter h4 {
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 18px;
}

.sidebar_newsletter input {
  text-align: center;
  margin: 5px 0px;
}

.sidebar_newsletter .newsletter_form .form-control {
  height: 40px;
  color: var(--color-two);
  margin-bottom: 10px;
}
.sidebar_newsletter .newsletter_form [type="submit"].btn {
  background: #B3BF9C;
  color: var(--color-white);
  width: 100%;
  height: 40px;
  font-weight: 500;
}

.sidebar_newsletter .newsletter_form [type="submit"].btn:hover {
  background: var(--color-one);
  color: var(--color-white);
}


/*-- Recent Posts --*/
.widget_recent_posts ul li {
  display: flex;
  align-items: center;
}
.widget_recent_posts ul li:not(:last-child) {
  border-bottom: 1px solid #eee6e2;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.widget_recent_posts ul li .tags a {
  position: relative;
  color: var(--color-white);
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 0px;
  text-transform: capitalize;
  padding: 2px 8px;
  min-width: 60px;
  text-align: center;
  display: inline-block;
  border-radius: 30px;
}
.widget_recent_posts ul li .post_thumbnail {
  flex-shrink: 0;
  border: 0px solid #fff;
  overflow: hidden;
  margin-right: 20px;
}

.widget_recent_posts ul li h5 {
  font-size: 14px;
  margin: 6px 0px 5px 0px;
}
.widget_recent_posts ul li h6 {
  font-family: var(--font-family-base);
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ababab;
  margin-top: 0px;
}
.widget_recent_posts ul li h6 .author {
  color: var(--color-two);
}

/*-- Categories --*/
.widget_categories ul li {
  width: 100%;
  font-size: 11px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  color: #7f7f7f;
  padding: 10px 0px;
  border-bottom: 1px solid #f2f2f2;
  /* background-image: linear-gradient(to right, #8F9BAD 10%, rgba(165, 178, 205, 0) 0%);
  background-position: top;
  background-size: 6px 1px;
  background-repeat: repeat-x; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.widget_categories ul li:hover {
  color: var(--color-one);
}

.widget_categories ul li a {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--color-two);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.widget_categories ul li.active a,
.widget_categories ul li a:hover {
  color: var(--color-one);
}

/*-- Popular Posts --*/
.widget_popular_posts ul li {
  display: flex;
  align-items: center;
}
.widget_popular_posts ul li:not(:last-child) {
  border-bottom: 1px solid #eee6e2;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.widget_popular_posts ul li .tags a {
  position: relative;
  color: var(--color-white);
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 0px;
  text-transform: capitalize;
  padding: 2px 8px;
  min-width: 60px;
  text-align: center;
  display: inline-block;
  border-radius: 30px;
}
.widget_popular_posts ul li .post_thumbnail {
  flex-shrink: 0;
  box-shadow: 0px 0px 15px rgba(var(--color-black-rgb), 0.09);
  border-radius: 45px;
  border: 5px solid #fff;
  overflow: hidden;
  margin-right: 20px;
}

.widget_popular_posts ul li h5 {
  margin: 3px 0px 10px 0px;
}
.widget_popular_posts ul li h6 {
  font-family: var(--font-family-base);
  font-size: 12px;
  font-weight: 400;
  color: var(--color-three);
  margin-top: 0px;
}
.widget_popular_posts ul li h6 .author {
  color: var(--color-two);
}
.widget_popular_posts ul li h6 span:last-child {
  position: relative;
  padding-left: 12px;
  margin-left: 5px;
}
.widget_popular_posts ul li h6 span:last-child::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 1px;
  background-color: var(--color-three);
  display: block;
}

.sidebar_instagram .instagram-posts ul li {
  max-width: 150px;
}
/*-- Tag Cloud --*/
.widget_tag_cloud ul {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.widget_tag_cloud a {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  padding: 6px 16px;
  background: var(--color-white);
  color: var(--color-six);
  border: 1px solid var(--color-six);
  letter-spacing: 1px;
  margin-bottom: 6px;
  margin-right: 6px;
}

.widget_tag_cloud a:hover {
  background-color: var(--color-one);
  color: var(--color-white);
  border-color: var(--color-one);
}

.sidebar_shop .product_item .product_thumb {
  margin-bottom: 0px;
}
.sidebar_shop .product_item .product_thumb .product_imagebox .primary_img {
  width: 100%;
}